
.echarts{
  overflow: hidden;
  @include wh(100% 3);
  margin: 0 auto;
  position: relative;
  &.stack,&.double,&.normal,&.stackLine{
    height: 3.53rem;
  }
  :deep(.echarts-toolsTips) {
    display: none;
    box-shadow: none !important;
    border: none;
    padding: .04rem .08rem !important;
    background: rgba(0,0,0,.5) !important;
    border-radius: .04rem !important;
    .echarts-tools-box{
      p{
        display: flex;
        align-items: center;
      }
      .rect {
        @include wh(.16);
        border-radius: .04rem;
        margin-right: .14rem;
      }
    }
  }
}