.comp-echarts{
  ::v-deep .echarts{
    overflow: hidden;
    @include wh(670 500);
    margin: 0 auto;
    &-tools-box{
      p{
        display: flex;
        align-items: center;
      }
      .rect {
        @include wh(10);
        border-radius: 50%;
        margin-right: 10rem;
      }
    }
  }
}